.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message_user {
  margin-left: auto;
  color: blue;
  text-align: left !important;
}
.message_userCard {
  background-color: #0b81ff !important;
}
.message_guestCard {
  background-color: #e9e9eb !important;
}
